<%= form_with(model: [:admin, @author], remote: true, id: 'specific') do |form| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :author_name, placeholder: "Author's name", class: "form-control", id: "name_authors" %>
  </div>

  <div class="form-group">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :author_surname, placeholder: "Author's surname", class: "form-control" %>
  </div>

  <div class="actions">
    <script type="text/javascript" >
    (function() {
                    document.getElementById("submit_author").onclick = function() { 
                    $('#exampleModal').modal('hide'); 
                  };
                })();
</script>
    <!-- <script type="text/javascript">
                  function success_add(t)
        {
            if($(t).prev().val())
            {
                alert('Adding Succesful!')
                return true;
            }else{
                return false;
            }
        }
        
        
    </script> -->
    <%= form.submit  class:'btn btn-primary', id: 'submit_author' %>
  </div>
<% end %>
<!-- onclick: "success_add()", -->