<%= form_with(model: [:admin, @author], remote: true, id: 'specific') do |form| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :author_name, placeholder: t('author.authors_name'), class: "form-control", id: "name_authors" %>
    <!-- "Author's name" -->
  </div>

  <div class="form-group">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :author_surname, placeholder: t('author.authors_surname'), class: "form-control" %>
    <!-- "Author's surname" -->
  </div>

  <div class="actions">
    <script type="text/javascript" >
    (function() {
                    document.getElementById("submit_author").onclick = function() { 
                    $('#exampleModal').modal('hide'); 
                  };
                })();
</script>
  
    <%= form.submit  t('.submit', action: @author.new_record? ? t('common.add') : t('common.change')), class:'btn btn-primary', id: 'submit_author' %>
  </div>
<% end %>
