<!-- <p id="notice"><%= notice %></p> -->

<h1>
    <%= t('welcome.authors') %>
<!-- Authors -->
</h1>
<br>
  <% if user_signed_in?&&current_user.admin? %>
        <%= link_to t('book.add_new_author'), new_admin_author_path, class: "btn btn-outline-primary" %>
        <!-- 'Add new author' -->
  <% end %>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th>
              <!--   <%= t('activerecord.attributes.author.name') %>
                <%= t('activerecord.attributes.author.surname') %>    -->   
            </th>
            <!-- Name -->
            <!-- <th></th> -->
            <!-- Surname -->
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @authors.each do |author| %>
            <tr>
              <td><%= link_to author.name+" "+author.surname, author %></td>
              <!-- <td></td> -->
              <td><%= link_to t('action.show'), author %></td>
              <!-- 'Show' -->
              <% if user_signed_in?&&current_user.admin? %>
                    <td><%= link_to t('action.edit'), edit_admin_author_path(author) %></td>
                    <!-- 'Edit' -->
                    <td><%= link_to t('action.destroy'), admin_author_path(author), method: :delete, data: { confirm: t('action.are_you_sure') } %></td>
                    <!-- 'Are you sure?' -->
                    <!-- 'Destroy' -->
              <% end %>      
            </tr>
          <% end %>
        </tbody>
      </table>

</div>        
      
<br>
<%= link_to t('common.back'), root_path, class: "btn btn-secondary" %>
<!-- 'Back' -->

