<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @user.rating %>
</p>
<p>
	Added by <%= @user.name %>:<br>
	<% @user.books.each do |book| %>
		<%#= book.title %>
		|<%= link_to book.title, book_path(book) %>|  
	<% end %> 
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
