<p id="notice"><%= notice %></p>

<h1>
    <!-- Feedbacks -->
    <%= t('welcome.feedbacks') %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>
        <%= t('activerecord.attributes.user.email') %>
      <!-- Title -->
     </th>
      <th>
        <%= t('activerecord.attributes.feedback.title') %>
      <!-- Title -->
     </th>
      <th>
          <!-- Text -->
             <%= t('activerecord.attributes.feedback.text') %>
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.email %></td>
        <td><%= feedback.title %></td>
        <td><%= feedback.text %></td>
        <td><%= link_to t('action.show'), admin_feedback_url(feedback) %></td>
        <td><%= link_to t('action.edit'), edit_admin_feedback_path(feedback) %></td>
        <td><%= link_to t('action.destroy'), admin_feedback_url(feedback), method: :delete, data: { confirm: t('action.are_you_sure') } %></td>
        <!-- 'Destroy' -->
        <!-- 'Edit' -->
        <!-- 'Show' -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Feedback', new_feedback_path %>
