<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @feedback.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @feedback.text %>
</p>

<%= link_to 'Edit', edit_admin_feedback_path(@feedback) %> |
<%= link_to 'Back', admin_feedbacks_path %>
