<%= form_with(model:[:admin, @genre] , remote: true, id: 'specific2') do |form| %>
  <% if @genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genre.errors.count, "error") %> prohibited this genre from being saved:</h2>

      <ul>
      <% @genre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :genre_name %>
    <%= form.text_field :genre_name, id: :genre_genre_name, placeholder: "genre of book", class: "form-control" %>
  </div>

  <div class="actions">
    <script type="text/javascript" >
    (function() {
                    document.getElementById("submit_genre").onclick = function() { 
                    $('#exampleModal').modal('hide'); 
                  };
                })();
</script>
    <%= form.submit class: "btn btn-primary", id: 'submit_genre' %>
  </div>
<% end %>
