
<h1>Bookboard</h1>
<p>Find desired books</p>

<% if user_signed_in? %>
    <%= link_to 'Books', books_path %> 
    <% if current_user.admin? %>
          <%= link_to 'Users', admin_users_path %> 
          
     <% end %>     
    <%= link_to 'Locations', locations_path %> 
    <%= link_to 'Genres', genres_path %>  
    <%= link_to 'Authors', authors_path %>
<br>
<% end %>

<h1>Recent books</h1>
<div>
	<% @books.each do |book| %>
      	<div>
      		<%= image_tag book.image.url(:thumb) if book.image? %><br>
      		<%= link_to book.title, book_path(book) %><br>
      		<% if book.available? %>
          			<%= "(available now)" %>
    		<%else %>
          			<%= "(busy now)" %>
  			<% end %>
      		 <br>
      		<%= "Added "+book.created_at.strftime("%e %B")+" to " %> <%= link_to book.location.name , location_path(book.location)%> 

      	</div>
      	<hr>
	<% end %>
</div>
