<% if params[:q].present? %>
	<h1>
		<%= t('search.search_results_for') %> "<%= params[:q] %>" 
		<!-- Search Results for -->
	</h1> 
<% else %>
 	<h1>
 		<%= t('search.please_type_something') %>
 		<!-- "Please, type anything" -->
 	 </h1>
<% end %>

<div>
	<% if @books.present? %> 
	 	<h2>
	 	<!-- Books: -->
	 	<%= t('welcome.books') %>:
	 	</h2>
	<% end %>
	<% @books.each do |book| %>
		<%= link_to book.title, book_path(book) %>
	<% end %>	

</div>
<div><% if @authors.present? %>
		<h2>
			<!-- Authors: -->
			<%= t('welcome.authors') %>:
		</h2>
	<% end %>
	<% @authors.each do |author| %>
		<%= link_to	author.name+" "+author.surname, author_path(author) %>
	<% end %>
</div>
<div>
	<% if @genres.present? %>
	<h2>
		<!-- Genres: -->
		<%= t('welcome.genres') %>:
	</h2>
	<% end %>
	<% @genres.each do |genre| %>
		<%=	link_to genre.genre_name, genre_path(genre) %>
	<% end %>
</div>

<div>
	<% if @locations.present? %>
	<h2>
		<!-- Locations: -->
		<%= t('welcome.locations') %>:
	</h2>
	<% end %>
	<% @locations.each do |location| %>
		<%= link_to	location.name, location_path(location) %>
	<% end %>
</div>
<% if user_signed_in?&&current_user.admin? %>
	<div>
		<% if @users.present? %>
			<h2>
				<!-- Users: -->
				<%= t('welcome.users') %>:
			</h2>
		<% end %>
		<% @users.each do |user| %>
			<%= link_to	user.email, admin_user_path(user) %>
		<% end %>
	</div>
<% end %>
<%= link_to t('common.back'), :back, class: 'btn btn-secondary' %>