<h1>
	<%= t('rule_page.terms_of_use_of_our_service') %>
	<!-- Правила пользования нашим сервисом -->
</h1>
<p>
	<%= t('rule_page.current_service_was_designed') %>
	<!-- Данный сервис предназначен для свободного обмена художественной, служебной и технической литературой между пользователями. -->
</p>
<p>
	<%= t('rule_page.how_it_works') %>
	<!-- Обмен происходит следующим образом: -->
</p>
<p>
	 <%= t('rule_page.takes_only_3_minutes') %>
	<!-- 1.Пользователь регистрируется на сайте в течении 3-х минут. -->
</p>
<p> 
	<%= t('rule_page.optionally_user_might_provide') %>
	<!-- 1.1 По желанию, пользователь предоставляет свои книги для общего доступа, что позволит повысить рейтинги и увеличить возможности для работы с сайтом. -->
</p>
<p>
	<%= t('rule_page.website_provides_great') %>
	<!-- 1.2 Сайт предоставляет возможность просматривать свободные в доступе книги и их расположение в локациях. -->
</p>
<p>
	<%= t('rule_page.after_reading_the_material') %>
	<!-- 2.После прочтения материала, пользователю рекомендуется предоставить книгу или прочитанный материал другим пользователям через администратора локации. Расположение локаций по ссылке «Locations». -->
</p>
<p>
	<%= t('rule_page.reader_passes_his_book') %>
	<!-- 3. В соответствующей локации читатель передаёт свою книгу администратору локации и получает книгу, в которой заинтересован (при наличии данного материала). -->
</p>
<p>
	<%= t('rule_page.exchange_is_depended_on') %>
	<!-- 4. Обмен происходит на равноценной основе: Сколько принес – Столько получил! -->
</p>
<h3>
	P.S.
</h3>
<p>
	<%= t('rule_page.certain_content_is_prohibited') %>
</p>
<p>
	<%= t('rule_page.books_of_extremist_or') %>
	<!-- * Книги экстремистского и/или иного содержания, противоречащего действующему законодательству Украины к обмену не будут приниматься. -->
</p>
<p>
	<%= t('rule_page.book_in_poor_condition') %>

	<!-- * Книги в плохом состоянии (ветхие, разрисованные, без страниц) также не будут приняты к обмену. -->
</p>
<p>
	<%= t('rule_page.admin_has_the_right') %>
	<!-- * Администратор локации оставляет за собой право на отказ в передаче/получении от читателя книг, обосновав тем, что это действие подпадает под запрет. -->
</p>
<p>
	<%= t('rule_page.the_information_contained_on') %>
	<!-- * Сервис обмена книг не несёт ответственности за достоверность информации, представленной в литературе, а также за возможное оскорбление чувств читателей по религиозным и/или политическим убеждениям. -->
</p>
<p>
	<%= t('rule_page.the_book_exchange_service_in_no_event_shall_be_liable') %>
	
	<!-- The book exchange service in no event shall be liable for any special direct, indirect, consequential or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with use of the Service or the contents of the Service. BooksGet reserves the right to make additions, deletions, or modification to he contents on the service at any time without prior notice. BooksGet does not warrant that the website is free of viruses or other harmful components.
You will BE BANNED if you are: insulting or harassing other users. If such event appears, please make sure to Immediately report this person to any of the admins listed under the link “Team”. -->
</p>