<!-- <p id="notice"><%= notice %></p> -->

<h1>Books</h1>
<br>
<% if user_signed_in?&&current_user.admin? %>
<%= link_to 'Add book', new_admin_book_path, class: "btn btn-outline-primary" %>
<% end %>

<div class="container">
      <table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Language</th>
      <th>Description</th>
      <% if user_signed_in?&&current_user.admin? %>
          <th>Added by</th>
          <th>Holder</th>
          <th>Placed at</th>
          <!-- <th>Rating</th> -->
      <% end %>        
      <th>Author</th>
      <th>Genre</th>
      
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.language %></td>
        <td><%=h truncate(book.description, :length => 80) %>
          <%#= book.description %> 
          </td>
        <% if user_signed_in?&&current_user.admin? %>
        <td>
            <%= book.user.name.nil? && book.user.surname.nil? ? book.user.email : book.user.name+" "+book.user.surname %>
        </td>
        <td>
            <%= book.holder.present? ? book.holder.email : "no holder" %>
        </td>
        
        <td><%= book.location.name %></td>
        <!-- <td><%= book.rating %></td> -->
       <% end %>
        <td>
            <%= book.author.name %>
            <%= book.author.surname %>
        </td>
        <td><%= book.genre.genre_name %></td>
        
        
        <td><%= link_to 'Show', book %></td>
        <% if  user_signed_in?&&current_user.admin? %>
            <td><%= link_to 'Edit', edit_admin_book_path(book) %></td>
            <td><%= link_to 'Destroy', admin_book_path(book), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


</div>


<br>


<%= link_to 'Back', root_path, class: "btn btn-secondary" %>