<p id="notice"><%= notice %></p>

<h1><%= t('welcome.books')%></h1>
<!-- Books -->
<br>
<% if user_signed_in?&&current_user.admin? %>
<%= link_to t('book.add_book'), new_admin_book_path, class: "btn btn-outline-primary" %>

<% end %>

<div class="container">
      <table class="table">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.book.title') %></th>
      <!-- +Title -->
      <th><%#= t('activerecord.attributes.book.language') %></th>
      <!-- Language -->
      <th><%#= t('activerecord.attributes.book.description') %></th>
      <!-- Description -->
      <% if user_signed_in?&&current_user.admin? %>
          <th><%= t('activerecord.attributes.book.user_id') %></th>
          <!-- Added by -->
          <th><%= t('activerecord.attributes.book.holder_id') %></th>
          <!-- Holder -->
          <th><%= t('activerecord.attributes.book.location_id') %></th>
          <!-- Placed at -->
          <!-- <th>Rating</th> -->
      <% end %>        
      <th><%= t('activerecord.attributes.book.author_id') %></th>
      <!-- Author -->
      <th><%#= t('activerecord.attributes.book.genre_id') %></th>
      <!-- Genre -->
      
      
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
            <%= link_to book.title, book_path(book) %>    
        </td>
        <td>
            <%#= book.language %>    
        </td>
        <td>
          <%#=h truncate(book.description, :length => 80) %> 
          <%#= book.description %> 
        </td>
         
        <% if user_signed_in?&&current_user.admin? %>
              <td>
                  <%= book.user.name.nil? && book.user.surname.nil? ? book.user.email : book.user.name+" "+book.user.surname %>
              </td>
              <td>
                  <%= book.holder.present? ? book.holder.email : "no holder" %>
              </td>
              
              <td><%= book.location.name %></td>
              
       <% end %>
 
        <td>
            <%= book.author.name %>
            <%= book.author.surname %>
        </td>
        <!-- <td>
            <%#= book.genre.genre_name %>    
        </td>
        <td><%#= link_to t('action.details'), book %>
            <%#= link_to t('action.show'), book %>      
         </td> -->
        <% if  user_signed_in?&&current_user.admin? %>
            <td>
                <%= link_to t('action.edit'), edit_admin_book_path(book) %>    
            </td>
             <td>
                <%= link_to t('action.destroy'), admin_book_path(book), method: :delete, data: { confirm: t('action.are_you_sure') } %>   
             </td> 
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<%= link_to t('common.back'), root_path, class: "btn btn-secondary" %>
