<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Language:</strong>
  <%= @book.language %>
</p>
<div>
  <%= image_tag @book.image.url(:large) if @book.image? %>
</div>
<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Added by:</strong>
  <%= @book.user.name.present? && @book.user.surname.present? ? @book.user.name+" "+@book.user.surname : @book.user.email %>
</p>

<p>
  <strong>Author:</strong">
    <%= @book.author.name+" "+@book.author.surname %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @book.genre.genre_name %>
</p>
<p>
  <strong>Location:</strong>
  <%= @book.location.name %>
</p>
<p>
  <strong>Rating:</strong>
  <%= @book.rating %>
</p>
<p>
  <strong>Holder:</strong>
  <% if @book.holder.present? %>
  		<% if @book.holder.name.present? && @book.holder.surname.present? %>
   				<%= @book.holder.name + " " + @book.holder.surname  %> 
   			<% else %>
   				<%= @book.holder.email %>
   				
   		<% end %>
   	<%else %> 
   			<%='no holder'%>
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_book_path(@book) %> |
<%= link_to 'Back', :back %>
