<%= form_with(model: @feedback, local: true) do |form| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "error") %> <%= t('activerecord.errors.prohibited_this_feedback') %></h2>
       <!-- from being saved: -->
       <!-- feedback -->
       <!-- prohibited this -->
      <ul>
      <% feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, id: :feedback_email , placeholder: t('session.enter_email'), class: "form-control" %>
    <!-- title -->
  </div>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :feedback_title , placeholder: t('activerecord.attributes.feedback.title'), class: "form-control" %>
    <!-- title -->
  </div>

  <div class="form-group">
    <%= form.label :text %>
    <%= form.text_area :text, id: :feedback_text, placeholder: t('feedback.whats_your_opinion_about'), class: "form-control" %>
    <!-- 'Your feedback enter here' -->
  </div>
  
  
  <div class="actions">
    <%= form.submit t('action.send'), class: "btn btn-primary" %>
  </div>
<% end %>
