<%= form_with(model: [:admin, @user], local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-row" >
          <div class="form-group col-md-6">
            <%= form.label :name, class: "col-form-label", class: "col-form-label" %>
            <%= form.text_field :name, id: :user_name, placeholder: t('user.users_name'), class: "form-control" %>
            <!-- "First name" -->
          </div>

          <div class="form-group col-md-6">
            <%= form.label :surname, class: "col-form-label"  %>
            <%= form.text_field :surname, id: :user_surname, placeholder: t('user.users_surname'),class: "form-control" %>
            <!-- "Last name" -->
          </div>
  </div>

  <div  class="form-row">
      <div class="form-group col-md-6">
        <%= form.label :phone %>
        <%= form.text_field :phone, id: :user_phone, placeholder: t('user.phone_number'), class: "form-control" %>
        <!-- "Phone number" -->
      </div>


      <div class="form-group col-md-6">
        <%= form.label :email  %>
        <%= form.text_field :email, id: :user_email, placeholder: "e-mail", class: "form-control" %>
      </div>
  </div>
<% if current_user.admin? %>
 <div class="form-row">
    <div class="form-group col-md-6">
        <%= form.label :password %>
        <!-- <% if @minimum_password_length %> -->
        <!-- <em>(<%= @minimum_password_length %> characters minimum)</em> -->
        <!-- <% end %><br /> -->
        <%= form.password_field :password, autocomplete: "on", placeholder: t('activerecord.attributes.user.password'), class: "form-control" %>
        <!-- "password" -->
    </div>
 
    <div class="form-group col-md-6">
        <%= form.label :password_confirmation %><br />
        <%= form.password_field :password_confirmation, autocomplete: "on", autofill: true, placeholder: t('user.repeat_password'), class: "form-control" %>
        <!-- "repeat password" -->
    </div> 
 </div>
<% end %>  
  <div class="field">
    <%#= form.label :rating %>
    <%#= form.hidden_field :rating, id: :user_rating, :value => "0" %>
    <%= form.hidden_field :balance, id: :user_balance %>
  </div>
  <div class="field">
    <%= form.hidden_field :added, id: :user_added %>
  </div>
  <div class="field">
    <%= form.hidden_field :held, id: :user_added %>
  </div> 
  <div class="actions">
    <%= form.submit t('.submit', action: @user.new_record? ? t('common.add') : t('common.change')), class:'btn btn-primary' %>
    <%= link_to t('common.back'), admin_users_path, class: 'btn btn-secondary' %>
    <!-- 'Back' -->
  </div>
<% end %>
