<!-- <p id="notice"><%= notice %></p> -->

<h1>Users</h1>

    <%= link_to 'New User', new_admin_user_path, class: "btn btn-outline-primary" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Phone</th>
      <th>e-mail</th>
      <th>Balance</th>
      <th>Added</th>
      <th>Held</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.phone %></td>
        <td><%= user.email %></td>
        <td><%= user.balance %></td>
        <td><%= user.added %></td>
        <td><%= user.held %></td>
        <td><%= user.admin %></td>
        <td><%= link_to 'Show', admin_user_path(user) %></td>
        
            <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
            <td><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Back', root_path, class: "btn btn-secondary"%>