<!-- <p id="notice"><%= notice %></p> -->
<div id="location_show_title">
      
          <h1>
              <strong>
                  <!-- Name: -->
                  <!-- <%= t('activerecord.attributes.location.name') %>: -->
              </strong>
              <%= @location.name %>
          </h1>  
        
</div>
<p>
          <% if user_signed_in?&&current_user.admin? %>
            <strong>
                  <!-- d: -->
                  id:
            </strong>
            <%= @location.id %>
         
        <% end %>
      </p>
<div id="location_show_content">
      <div id="picture_at_show_location">
            <div class="locations_size">
                <%= image_tag @location.picture, width:'auto', height:'250px'  if @location.picture? %>
            </div>  
      </div>
      
        
      <div id="text_at_show_location">
          <p>
            <strong>
                <%= t('activerecord.attributes.location.address') %>:
          </strong>
              <%= @location.address %>
          </p>
          <p>
                    <strong>
                            <!-- Description: -->
                            <%= t('activerecord.attributes.location.description') %>:
                    </strong>
                <%= @location.description %>
          </p>

          <p>
            <strong>
                  <!-- Email: -->
                  <%= t('activerecord.attributes.location.email') %>:
            </strong>
            <%= @location.email %>
          </p>

          <p>
            <strong>
                <!-- Telephone: -->
                <%= t('activerecord.attributes.user.phone') %>
            </strong>
            <%= @location.telephone %>
          </p>
          <p>
            <!-- This location has books:<br> -->
            <% if @location.books.present? %>
            <div class="row">
              <% @location.books.each do |book| %>
              <%#= book.title %>  
                      <div  class="col-sm">
                        <!-- <center> -->
                        <div >
                          <%=  link_to (image_tag book.image, width:'auto', height:'150px', id: 'book_at_location'), book_path(book) if book.image? %> 
                        </div>
                          <%= link_to book.title, book_path(book) %>  
                        <!-- </center> -->
                      </div>         
                <% end %>
            </div>
            <% else %>
                  <h4>
                      <%= t('common.no_books_yet') %> 
                  </h4>
                   
            <% end %>
          </p>  
      </div>  
</div>

<div id="back_edit_bottom">
      <%= link_to t('action.edit'), edit_admin_location_path(@location), class: "btn btn-warning" %> 
      <!-- 'Edit' -->
      <%= link_to t('common.back'), locations_path, class: "btn btn-secondary" %>
      <!-- 'Back' -->  
</div>






