<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>
<div>
  <%= image_tag @location.image.url(:large) if @location.image? %>
</div>
<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<p>
  <strong>Email:</strong>
  <%= @location.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @location.telephone %>
</p>
<p>
	This location has books:<br>
	<% @location.books.each do |book| %>
		<%#= book.title %>
		<%= link_to book.title, book_path(book) %><br>
	
	<% end %>
</p>
<%= link_to 'Edit', edit_admin_location_path(@location), class: "btn btn-warning" %> 
<%= link_to 'Back', locations_path, class: "btn btn-secondary" %>
