<!DOCTYPE html>
<!-- <html lang="en"> -->
  <head>
    <title>Booksget</title>
    <%= csrf_meta_tags %>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
    
    <%= favicon_link_tag 'favicon.ico' %>

  </head>

  <body>

      <div class="content">
            <div>
                  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                        <%= image_tag("book-icon-120-191918.png", size: "50x40",:alt => "rss feed", id:'booksget_logo') %>
                        <!-- <img src="book-icon-120-191918.png" alt="rss feed" /> -->
                        <a class="navbar-brand padding_header" href= <%= root_path %> >Booksget</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                          <ul class="navbar-nav mr-auto">
                          <% unless current_page?(root_path) %>
                              <!-- <li class="nav-item active">

                                  <a class="nav-link" href= <%= root_path %>   > Home
                                        <span class="sr-only">
                                                (current)
                                        </span>
                                  </a>
                              </li> -->
                              <li class="nav-item active">
                                  <%= link_to t('common.back'), :back, class: "nav-link padding_header" %>
                              </li>  
                              <% end %>
                          </ul>

                          <ul class="navbar-nav">
                            <% if user_signed_in? %>
                                <li class="nav-item nav-link active padding_header">
                                    <%= current_user.name.present? ? t('header.hello')+", "+current_user.name : t('header.hello')+", "+current_user.email+"  "  %>
                                </li>
                                <li class="nav-item nav-link active padding_header">
                                  <%= current_user.admin? ? t('header.admin') : "" %>
                                </li>                                               
                                <% if current_user.admin? %> 
                                
                                      <%= link_to t('header.stat'), admin_statistic_index_path, class: "nav-link active padding_header" %>
                                                                    
                                <% end %>
                                <li class="nav-item" >
                                     <%= link_to t('header.profile'), admin_user_path(current_user) , class: "nav-link active padding_header" %> 
                                </li>  
                                <li class="nav-item">
                                  <%= link_to t('header.sign_out'), destroy_user_session_path, method: :delete, data: { confirm: t('action.are_you_sure') } , class: "nav-link disabled padding_header" %>
                                  <!--  -->
                                </li>
                                      <%= link_to t('header.add_book'), new_admin_book_path, class: 'btn btn-outline-primary pull-xs-right' ,id: 'style_of_add_book' %>

                              <% else %>
                                  <li class="nav-item">
                                        <%= link_to t('header.sign_in'), new_user_session_path, class: "nav-link active padding_header" %>
                                  </li>
                                  <li>
                                         <%= link_to t('header.register'), new_user_registration_path, class: "nav-link active" %>
                                  </li>  
                                     
                              <% end %>
                              <li class="nav-item<%= " active" if I18n.locale == :ru %>">
                                <%= link_to 'Рус', {locale: :ru}, class: 'nav-link' %>
                              </li>
                              <li class="nav-item<%= " active" if I18n.locale == :en %>">
                                <%= link_to 'Eng', {locale: :en}, class: 'nav-link' %>
                              </li>    
                          </ul>
                        </div>                      
                                              
                  </nav> 
                  <div class="container search_margin_top">
                    <%= form_with url: search_path, local: true, method: :get do |form| %>
                      <%= form.text_field :q, :size =>"50", placeholder: t('search.placeholder'), data:{behavior: "autocomplete"}, class: "form-control width_of_search" %>
                      <%#= form.button "Search" %>
                    <% end %>
                  </div>
             
            </div>
                 
            
                  <p class="notice container floating">
                      <%= notice %> 
                  </p>
                  <p class="alert container" >
                      <%= alert %>
                  </p>
            
                 
            
            <div class="container floating">
              
                 <%= yield %>
            </div>
      </div>   
      <footer class="footer floating">
        <center>
                 <span>
                <!-- <a href="http://github.com/zgfif/example3" target="_blank"> Our github </a>  -->
                <%= link_to t('footer.github'), 'http://github.com/zgfif/example3',:target => '_blank' %>
            </span> 
            <span>
                <%= link_to t('footer.about'), about_path %>  
            </span>
       
            <!-- Coded by: Pavel Bratanov -->
            <span> 
                <%= link_to t('footer.contacts'), contact_path %> 
            </span>
            <span>
                <%= link_to t('footer.our_team'), our_team_path %>  
            </span>       
            <span>
              <%= link_to t('footer.rules'), rule_path %>  
            </span>      
        </center>   
      </footer>    
  </body>
</html>
