<!DOCTYPE html>
<html>
  <head>
    <title>Booksget</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel ="stylesheet" href="../../assets/stylesheets/app.css">
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
  <p class="notice"><%= notice %> </p>
  <p class="alert" ><%= alert %></p>
  <% unless current_page?(root_path) %>
          <div>
              <%= link_to 'Home', root_path %>
              <%= link_to 'Back', :back %>
          </div>
  <% end %>
          
  <div align="right">
    
          

    <% if user_signed_in? %>

              <%= current_user.name.present? ? "Hello, "+current_user.name+",": "Hello, "+current_user.email+"  " %>
              <%= current_user.admin? ? "you're admin" : "" %>
              <%= link_to 'Statistics', admin_statistic_index_path %>  
              <%= link_to 'Profile', admin_user_path(current_user) %>
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Add book', new_admin_book_path %><br>

    <% else %>
            <%= link_to 'Sign in', new_user_session_path %>
            <%= link_to 'Register', new_user_registration_path %><br>
    <% end %>
   <%= form_with url: search_path, local: true, method: :get do |form| %>
      <%= form.text_field :q, :size =>"50", placeholder: "Type book,author or location", data:{behavior: "autocomplete"} %>
      <%#= form.button "Search" %>
    <% end %>


  </div>

  <p class="notice"><%#= notice %></p>
  <p class="alert"><%#= alert %></p>
    <%= yield %>
    <footer>
        <div id="copyright">
          <p>&#9400; 2017 bookboard.od.ua<p>

        </div>
        <div align="right">
              
              <div class="container">
                  <%= link_to 'About us', about_path %>
                  
              </div>
              <div class="container">
                  <%= link_to 'Contacts', contact_path %>
                  
              </div>
              <div class="container">
                  <%= link_to 'Our team', our_team_path %>
                  
              </div>
              <div class="container">
                  <%= link_to 'Rules', rule_path %>
                  
              </div>
        </div>
        
    </footer>
  </body>
</html>
