<!DOCTYPE html>
<html>
  <head>
    <title>Booksget</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel ="stylesheet" href="../../assets/stylesheets/app.css"> -->
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
      <div>
                  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                        <a class="navbar-brand" href= <%= root_path %> >Booksget</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                  <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">

                          <ul class="navbar-nav mr-auto">
                          <% unless current_page?(root_path) %>
                              <li class="nav-item active">

                                  <a class="nav-link" href= <%= root_path %>   > Home
                                        <span class="sr-only">
                                                (current)
                                        </span>
                                  </a>
                              </li>
                              <li class="nav-item active">
                                  <%= link_to 'Back', :back, class: "nav-link" %>
                              </li>  
                              <% end %>
                          </ul>

                          <ul class="navbar-nav">
                            <% if user_signed_in? %>
                                <li class="nav-item nav-link active">
                                    <%= current_user.name.present? ? "Hello, "+current_user.name : "Hello, "+current_user.email+"  "  %>
                                </li>
                                <li class="nav-item nav-link active">
                                  <%= current_user.admin? ? "You're admin" : "" %>
                                </li>                                               
                                <% if current_user.admin? %> 
                                
                                      <%= link_to 'Statistics ', admin_statistic_index_path, class: "nav-link active" %>
                                                                    
                                <% end %>
                                <li class="nav-item" >
                                     <%= link_to ' Profile', admin_user_path(current_user) , class: "nav-link active" %> 
                                </li>  
                                <li class="nav-item">
                                  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } , class: "nav-link disabled" %>
                                </li>
                                      <%= link_to 'Add book', new_admin_book_path, class: 'btn btn-outline-primary pull-xs-right' %>

                              <% else %>
                                  <li class="nav-item">
                                        <%= link_to 'Sign in', new_user_session_path, class: "nav-link active" %>
                                  </li>
                                  <li>
                                         <%= link_to 'Register', new_user_registration_path, class: "nav-link active" %>
                                  </li>  
                                     
                              <% end %>    
                          </ul>
                        </div>
                                  
                                        
                     
                        <!-- <%= link_to 'Add book', new_admin_book_path, class: 'btn btn-outline-primary pull-xs-right' %> -->
                         
                  </nav> 
                  <div class="container search_margin_top">
                    <%= form_with url: search_path, local: true, method: :get do |form| %>
                                <%= form.text_field :q, :size =>"50", placeholder: "Type book,author or location", data:{behavior: "autocomplete"}, class: "form-control" %>
                                <%#= form.button "Search" %>
                              <% end %>
        
                  </div>
             
      </div>
<!--       
      <% unless current_page?(root_path) %>
          <div>
              <%= link_to 'Home', root_path %>
              <%= link_to 'Back', :back %>
          </div>
      <% end %> 
          
 -->     
    
      <p class="notice "><%= notice %> </p>
      <p class="alert" ><%= alert %></p>   
    
    <div class="container floating">
      
         <%= yield %>
    </div>
     
    <footer class="floating"  >
           <span><a href="http://github.com/zgfif/example3">Booksget</a> 2017 </span> 
      <span><%= link_to 'About us', about_path %>  </span>
       
        <!-- Coded by: Pavel Bratanov -->
      <span> <%= link_to 'Contacts', contact_path %> </span>
      <span><%= link_to 'Our team', our_team_path %>  </span>       
       <span><%= link_to 'Rules', rule_path %></span> 
      
    </footer>

    <!-- <footer class="floating" > -->
              
      <!-- <p>&#9400; 2017 bookboard.od.ua</p>               -->
       <!-- <button class="btn btn-default btn-lg pull-xs-right">
                  <a href="#">Back to top</a>
      </button>
       -->       
      <!--  <span><a href="http://github.com/zgfif/example3">Booksget</a> 2017 </span> 
      <span><%= link_to 'About us', about_path %>  </span>
       -->  <!-- Coded by: Pavel Bratanov -->
      <!-- <span> <%= link_to 'Contacts', contact_path %> </span>
      <span><%= link_to 'Our team', our_team_path %>  </span>       
       <span><%= link_to 'Rules', rule_path %></span> 
       -->  
     
    <!-- </footer> -->
    
  </body>
</html>
